<form class="form-horizontal" name="patientForm" ng-submit="register(patient) &&clearForm()" novalidate>
  <fieldset>
    <div id="legend">
      <legend class="">Register Patient</legend>
    </div>
    <div class="control-group">
      <label class="control-label"  for="firstname">First Name</label>
      <span style="color:red" ng-show="patientForm.firstname.$pristine && patientForm.firstname.$invalid">*</span>
      <div class="controls">
        <input type="text" ng-model="patient.firstname" name="firstname" placeholder="" class="form-control"  required>  
      </div>
    </div>
    <div class="control-group">
      <label class="control-label"  for="lastname">Last Name</label>
      <span style="color:red" ng-show="patientForm.lastname.$pristine && patientForm.lastname.$invalid">*</span>
      <div class="controls">
        <input type="text" name="lastname" placeholder="" class="form-control" ng-model="patient.lastname" required>
      </div>
    </div>
 
    <div class="control-group">
      <label class="control-label"  for="age">Age</label>
      <span style="color:red" ng-show="patientForm.age.$pristine && patientForm.age.$invalid">*</span>
      <div class="controls">
        <input type="number" ng-model="patient.age" name="age" placeholder="" class="form-control" required>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"  for="familyDoctor">Family Doctor</label>
      <span style="color:red" ng-show="patientForm.familyDoctor.$pristine && patientForm.familyDoctor.$invalid">*</span>
      <div class="controls">
        <select class="form-control" id="familyDoctor" name="familyDoctor" ng-model="patient.familyDoctor" ng-options="doctor.fullname as doctor.fullname for doctor in doctorModel"required>
          <option value=""></option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-primary">Save</button>
      </div>
    </div>
  </fieldset>
</form>