<form class="form-horizontal" name="patientForm" novalidate>
  <fieldset>
    <div id="legend">
      <legend class="">Register Patient</legend>
    </div>
    <div class="control-group">
      <label class="control-label"  for="firstname">First Name</label>
      <span style="color:red" ng-show="patientForm.firstname.$pristine && patientForm.firstname.$invalid">*</span>
      <div class="controls">
        <input type="text" ng-model="patient.firstname" name="firstname" placeholder="" class="form-control"  required>  
      </div>
    </div>
    <div class="control-group">
      <label class="control-label"  for="lastname">Last Name</label>
      <span style="color:red" ng-show="patientForm.lastname.$pristine && patientForm.lastname.$invalid">*</span>
      <div class="controls">
        <input type="text" name="lastname" placeholder="" class="form-control" ng-model="patient.lastname" required>
      </div>
    </div>
 
    <div class="control-group">
      <label class="control-label"  for="age">Age</label>
      <span style="color:red" ng-show="patientForm.age.$pristine && patientForm.age.$invalid">*</span>
      <div class="controls">
        <input type="number" ng-model="patient.age" name="age" placeholder="" class="form-control" required>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"  for="familyDoctor">Family Doctor</label>
      <span style="color:red" ng-show="patientForm.familyDoctor.$pristine && patientForm.familyDoctor.$invalid">*</span>
      <div class="controls">
        <select class="form-control" id="familyDoctor" name="familyDoctor" ng-model="patient.familyDoctor" ng-options="doctor.fullname as doctor.fullname for doctor in doctorModel"required>
          <option value=""></option>
        </select>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"  for="createdAt">CreatedAt</label>
      <div class="controls">
        <input ng-disabled="true" type="text" ng-model="patient.createdAt" name="createdAt" placeholder="" class="form-control">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"  for="lastModified">Last Modified At</label>
      <div class="controls">
        <input ng-disabled="true" type="text" ng-model="patient.lastModified" name="lastModified" placeholder="" class="form-control">
      </div>
    </div>
    <br />
    <div class="control-group" ng-show="edit===true">
      <table id="patientVisits" class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>Complaint</th>
                    <th>Billing Amount</th>
                </tr>
            </thead>
            <tbody>
              <tr ng-repeat="patient in patientVisits">
                <td>{{patient.complaint}}</td>
                <td>{{patient.billingAmount}}</td>
              </tr>
            </tbody>
      </table>
        
        <div class="control-group">
          <div class="controls">
            <button class="btn btn-primary" ng-click="visit(patient._id)">New Visit</button>
          </div>
        </div>
    </div>
      <br />
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-primary" ng-click="register(patient, patientVisits) &&clearForm()">Save</button>
      </div>
    </div>
  </fieldset>
</form>